body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.hero {
    background-image: url("img-docker.jpg");
    background-position: center;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 800px;
    margin: 20px auto;
    background-color: #031921;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #031921;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
}
.container h1 {
    text-align: center;
    text-transform: capitalize;
}
.hero h1, h2 {
    text-align: center;
    text-transform: capitalize;
}